.App {
  text-align: center;
}

.loading {
  margin: 100px auto;
}

th {
  text-align: center;
}

.centre {
  margin: 0 auto;
}

button {
  margin: 5px;
}

.context {
  position: absolute;
  left: 20px;
  font-size: 12px;
}
