.App {
  text-align: center;
}

.loading {
  margin: 100px auto;
}

th {
  text-align: center;
}

.centre {
  margin: 0 auto;
}

button {
  margin: 5px;
}

.context {
  position: absolute;
  left: 5px;
  font-size: 14px;
}

.search {
  position: absolute;
  font-weight: 600;
  left: 10px;
}